/* ----====Login Form =========================== */
.form-container{
    min-height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    padding-bottom: 40px;
   
  
  }
 
  .form-container:before {
      background-image: url("8.jpg");
      width: 100%;
      
      background-size: cover;
      content: "";
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      display: block;
      
  
  }
  .form-container form{
     padding:15px;
     border-radius: 10px;
     box-shadow: 0 5px 10px rgb(0, 255, 21);
     background: rgba(255, 255, 255, 0);
     backdrop-filter: blur(10px);
     color:white;
     text-align: center;
     width: 400px;
     height: 650px;
 
  
  }
  
  .form-container form h3{
   font-size: 24px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#ffffff;
}

  
.form-container form .form-btn{
   background: #fbd0d9;
   color:crimson;
   text-transform: capitalize;
   font-size: 16px;
   cursor: pointer;
   margin-top: 10px;
   font-weight: bolder;
}

  .form-container form input,
  .form-container form select{
     width: 100%;
     padding:8px 15px;
     font-size: 14px;
     margin:10px 0;
     background: #eee;
     border-radius: 5px;
  }
  
  .form-container form select option{
     background: #fff;
  }
  
  .form-container form .form-btn{
     background: #fbd0d9;
     color:crimson;
     text-transform: capitalize;
     font-size: 16px;
     cursor: pointer;
     font-weight: bolder;
  }
  
  .form-container form .form-btn:hover{
     background: crimson;
     color:#fff;
  }
  
  .form-container form p{
     margin-top: 10px;
     font-size: 15px;
     color:#ffffff;
  }
  
  .form-container form p a{
     color:rgb(21, 255, 0);
   
  }
  
  .form-container form .error-msg{
   margin:10px 0;
   display: block;

   color:#fc0000;
   border-radius: 5px;
   font-size: 16px;
   padding:10px;
}
  
  
  
  /* Register Form==============****Start****================= */
  
  /* End Register Form ========================================= */
  /* ==================end Login Form========================== */
  
  
  